{% extends "../../base.html" %}

{% block crumbs %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a href="/yqjr/index">主页</a>
            </li>
            <li class="active">
                <a class="this">基础信息</a>
            </li>
            <li class="active">
                <a class="this-page">接口管理</a>
            </li>
            <li class="active">
                <a class="">添加接口</a>
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block body %}
<form action="" mothed="post">
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">添加接口</h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">接口名称</label>
                        <div class="col-sm-8">
                            <input type="text" id="if_name" name="if_name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属项目</label>
                        <div class="col-sm-8">
                            <select type="text" id="prj_id" name="pro_id" class="form-control">
                                {% for prj in prj_list %}
                                <option value={{ prj.prj_id }}>{{ prj.prj_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">URL</label>
                        <div class="col-sm-8">
                            <input type="text" id="url" name="url" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">请求方式</label>
                        <div class="col-sm-1 control-label">
                            <label class="fancy-radio">
                                <input name="method" value="get" type="radio"><span><i></i>get</span>
                            </label>
                        </div>
                        <div class="col-sm-1 control-label">
                            <label class="fancy-radio">
                                <input name="method" value="post" type="radio"><span><i></i>post</span>
                            </label>
                        </div>
                        <div class="col-sm-1 control-label">
                            <label class="fancy-radio">
                                <input name="method" value="post" type="radio"><span><i></i>delete</span>
                            </label>
                        </div>
                        <div class="col-sm-1 control-label">
                            <label class="fancy-radio">
                                <input name="method" value="post" type="radio"><span><i></i>put</span>
                            </label>
                        </div>
                        <div class="col-sm-1 control-label">
                            <label class="fancy-radio">
                                <input name="method" value="post" type="radio"><span><i></i>update</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">数据传输方式</label>
                        <div class="col-sm-8">
                            <select type="text" id="data_type" name="data_type" class="form-control">
                                <option value='json'>json</option>
                                <option value='data'>data</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否签名</label>
                        <div class="col-sm-1 control-label">
                            <label class="fancy-radio">
                                <input name="is_sign" value="1" type="radio"><span><i></i>签名</span>
                            </label>
                        </div>
                        <div class="col-sm-2 control-label">
                            <label class="fancy-radio">
                                <input name="is_sign" value="0" type="radio"><span><i></i>不签名</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">接口描述</label>
                        <div class="col-sm-8">
                            <textarea name="description" placeholder="请输入内容" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">请求头</label>
                        <div class="col-sm-8">
                            <textarea name="header" placeholder="请输入内容" class="form-control" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">请求参数</label>
                        <div class="col-sm-8">
                            <textarea name="request_body_data" placeholder="请输入内容" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">预期结果</label>
                        <div class="col-sm-8">
                            <textarea name="response_expect_data" placeholder="请输入内容" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">实际结果</label>
                        <div class="col-sm-8">
                            <textarea name="response_result_data" placeholder="请输入内容" class="form-control" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-6">
                            <button id="sumbit" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}
{% block javascript %}
{% endblock %}